<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gocd.websocket.notifier" version="1">
    <about>
        <name>WebSocket Notification Plugin</name>
        <version>0.4</version>
        <target-go-version>15.2.0</target-go-version>
        <description>Plugin to send build notifications via websockets to any listener</description>
        <vendor>
            <name>Matt Richardson</name>
            <url>https://github.com/matt-richardson/gocd-websocket-notifier</url>
        </vendor>
    </about>
</go-plugin>